In [1]:
%pip install numpy pandas -q
import numpy as np
import pandas as pd
from constants import *
import sys
from python_speech_features import delta
from time import time
from tqdm.notebook import tqdm

Note: you may need to restart the kernel to use updated packages.

In [2]:
def getFormattedEntry(line, coeff=ALL_COEFFS):
    """
    Processes a line of text from the data file and extracts the relevant coefficients.

    :param line: The line from the data file containing space-separated coefficients.
    :param coeff: The coefficients to load. If all coefficients are required, use `ALL_COEFFS`.
    :return: A numpy array of the selected coefficients, as type float64.
    """
    # Strip leading and trailing whitespace from the line
    line = line.strip()

    # Convert the line into a numpy array of floats
    arr = np.array(line.split(), dtype=np.float64)

    if np.array_equal(coeff, ALL_COEFFS):
        # If the entire set of coefficients is needed, return the whole array
        return arr
    else:
        # If only a subset of coefficients is required, return the corresponding elements
        return arr[coeff].astype(np.float64)

In [3]:
def loadTrain(filepath, coeff=ALL_COEFFS):
    """
    :param filepath: path to the file to load
    Organizes the data in the input file into a list of matrices. Each row in the resulting DataFrame
    includes metadata (block, utterance, speaker, gender, digit) and the MFCC coefficients for each frame.
    
    :param coeff: The coefficients to load. If all coefficients are required, use `ALL_COEFFS`.
    
    :return: A DataFrame containing the loaded data, with columns for block, utter
    """
    
    timeStart = time()  # Start time for loading data
    
    try:
        with open(filepath) as f:
            print(f"Loading {filepath}")
    except FileNotFoundError:
        print(f"File {filepath} not found")
        return None
    
    # Define columns for the output DataFrame
    labels = ['block', 'utterance', 'speaker', 'gender', 'digit', 'time_window'] + list(map(str, coeff))
    
    # Initialize metadata variables
    utterances = 1
    speaker = 1
    gender = 'm'
    digit = 0
    block = 1
    time_window = 0
    
    rows = []  # List to accumulate rows

    # Open file again to process lines with tqdm
    print(f"Processing {filepath}")
    
    with open(filepath, 'r') as f:
        for idx, line in tqdm(enumerate(f), desc="Processing training data", file=sys.stdout, colour="green", position=0, dynamic_ncols=True):
            # Skip the first line if it's a header
            if idx == 0:
                continue
            
            # Check for blank lines indicating a new block
            if line.isspace() or line == "\n":
                utterances += 1
                block += 1
                digit = (block - 1) // 660  # Compute digit index based on block count
                
                # Reset utterances and handle speaker/gender transitions
                if utterances > 10:
                    utterances = 1
                    speaker += 1
                
                # Determine gender based on the speaker
                if (speaker - 1) // 33 == 1:
                    gender = 'f'
                elif (speaker - 1) // 66 == 1:
                    gender = 'm'
                    speaker = 1
                
                # Reset time window for the new block
                time_window = 0
                continue

            entry = getFormattedEntry(line, coeff)  # Convert line to array of coefficients
            
            new_row = [block, utterances, speaker, gender, digit, time_window] + entry.tolist()
            rows.append(new_row)
            
            time_window += 1
    
    df = pd.DataFrame(rows, columns=labels)
    
    timeEnd = time()
    print("COMPLETED LOADING TRAINING DATA")
    print(f"\t\tLoaded {len(df)} entries in {timeEnd - timeStart:.2f} seconds")
    return df

In [4]:
def loadTest(filepath, coeff=ALL_COEFFS):
    """
    Optimized version for loading test data into a DataFrame.
    
    :param filepath: path to the file to load
    :param coeff: The coefficients to load. If all coefficients are required, use `ALL_COEFFS`.
    
    :return: A DataFrame containing the loaded data, with columns for block, utterance, speaker, gender, digit, and time_window, along with the selected MFCC coefficients.
    """
    
    timeStart = time()  # Start timer
    
    try:
        with open(filepath) as f:
            print(f"Loading {filepath}")
    except FileNotFoundError:
        print(f"File {filepath} not found")
        return None
    
    # Define the labels for the DataFrame columns
    labels = ['block', 'utterance', 'speaker', 'gender', 'digit', 'time_window'] + list(map(str, coeff))
    
    # Initialize variables
    utterances = 1
    speaker = 1
    gender = 'm'
    digit = 0
    block = 1
    time_window = 0

    # Use a list to collect rows
    rows = []

    # Efficiently count lines once before processing
    with open(filepath, 'r') as f:
        total_lines = sum(1 for _ in f)

    # Load data with progress bar using the pre-counted total_lines
    print(f"Processing {filepath}")
    with open(filepath, 'r') as f:
        for idx, line in tqdm(enumerate(f), desc="Processing lines", total=total_lines, colour="green", position=0, dynamic_ncols=True):
            # Skip header
            if idx == 0:
                continue

            # Handle blank lines indicating a new block
            if line.isspace() or line == "\n":
                utterances += 1
                block += 1
                digit = (block - 1) // 220  # Update digit after every 220 blocks
                
                # Reset utterances and handle speaker/gender transitions
                if utterances > 10:
                    utterances = 1
                    speaker += 1

                # Determine gender by speaker group (male/female alternation every 11 speakers)
                gender = 'f' if (speaker - 1) // 11 % 2 else 'm'

                # Reset time window for new block
                time_window = 0
                continue

            # Process the line (frame) to get the coefficients
            entry = getFormattedEntry(line, coeff)  # Convert line to array of coefficients
            
            # Append the row with metadata and coefficients
            rows.append([block, utterances, speaker, gender, digit, time_window] + entry.tolist())

            # Increment time window for the current block
            time_window += 1

    # Convert list of rows into a DataFrame
    df = pd.DataFrame(rows, columns=labels)

    timeEnd = time()
    print("COMPLETED LOADING TEST DATA")
    print(f"\t\tLoaded {len(df)} entries in {timeEnd - timeStart:.2f} seconds")
    return df

In [5]:
if __name__ == "__main__":
    trainDF = loadTrain(TRAIN_FILE, coeff=ALL_COEFFS)
    testDF = loadTest(TEST_FILE, coeff=ALL_COEFFS)

Loading ../data/Train_Arabic_Digit.txt
Processing ../data/Train_Arabic_Digit.txt

Processing training data: 0it [00:00, ?it/s]

COMPLETED LOADING TRAINING DATA
		Loaded 263256 entries in 1.86 seconds
Loading ../data/Test_Arabic_Digit.txt
Processing ../data/Test_Arabic_Digit.txt

Processing lines:   0%|          | 0/89263 [00:00<?, ?it/s]

COMPLETED LOADING TEST DATA
		Loaded 87063 entries in 0.55 seconds

In [6]:
trainDF.head()

,block,utterance,speaker,gender,digit,time_window,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,1,1,m,0,0,-0.81101,-7.2382,1.5429,-0.64774,1.42710,0.61356,0.365160,0.088906,0.47031,0.98844,0.044692,0.20817,0.51140
1,1,1,1,m,0,1,-0.37028,-7.1336,1.8856,-0.34316,0.96733,0.32763,0.429880,0.504790,0.41533,0.28804,0.086109,0.62690,0.78115
2,1,1,1,m,0,2,0.59659,-8.3059,1.6943,-0.66611,0.34967,-0.17425,0.820770,1.261100,0.41653,0.50050,0.571630,0.45316,0.64465
3,1,1,1,m,0,3,1.45850,-8.1957,1.8454,-1.14960,0.82660,-0.51313,0.067443,0.256370,0.11500,-0.10915,0.085991,0.69064,0.33769
4,1,1,1,m,0,4,2.08240,-8.6670,1.1995,-1.12400,1.24450,-0.10251,0.998670,0.571740,1.03840,0.17564,-0.032857,0.53229,0.32941

In [7]:
testDF.head()

,block,utterance,speaker,gender,digit,time_window,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,1,1,m,0,0,1.2572,-8.2449,0.8483,-1.5782,0.4736,-0.063273,0.424810,0.50017,0.70420,0.28973,0.076053,0.025883,-0.22968
1,1,1,1,m,0,1,3.3638,-9.0154,1.4104,-1.5884,1.3725,-0.334810,1.052900,0.89804,0.79525,0.74112,-0.153510,0.517180,0.44204
2,1,1,1,m,0,2,3.4461,-9.4871,1.3425,-1.4066,1.4422,0.124470,0.581990,0.88984,0.90260,0.11521,-0.047091,0.409890,0.81545
3,1,1,1,m,0,3,4.7730,-10.0070,1.2143,-2.0118,2.0864,0.285620,0.528680,0.33971,1.16880,0.42569,-0.470990,0.508600,-0.33061
4,1,1,1,m,0,4,5.3317,-9.6834,1.5131,-2.3545,1.6933,0.066311,-0.088666,0.16826,0.24546,-0.34749,-0.098748,0.810930,-0.12837

In [8]:
# print the shape of the dataframes and statistics
print("Train data shape: ", trainDF.shape)
print("Test data shape: ", testDF.shape)
print("Train data statistics: ", trainDF.describe())
print("Test data statistics: ", testDF.describe())
print("Train data info: ", trainDF.info())
print("Test data info: ", testDF.info())

Train data shape:  (263256, 19)
Test data shape:  (87063, 19)
Train data statistics:                 block      utterance        speaker          digit  \
count  263256.000000  263256.000000  263256.000000  263256.000000
mean     3375.131932       5.498534      34.104510       4.603922
std      1877.991353       2.873385      18.801597       2.830455
min         1.000000       1.000000       1.000000       0.000000
25%      1795.000000       3.000000      18.000000       2.000000
50%      3326.000000       5.000000      35.000000       5.000000
75%      5045.000000       8.000000      50.000000       7.000000
max      6600.000000      10.000000      66.000000       9.000000

         time_window              0              1              2  \
count  263256.000000  263256.000000  263256.000000  263256.000000
mean       20.395831       1.980291      -3.079727      -0.360437
std        13.092223       2.750261       2.127967       1.736583
min         0.000000     -10.435000     -12.957000      -6.661500
25%         9.000000       0.542065      -4.031600      -1.546500
50%        19.000000       2.382500      -2.764100      -0.050925
75%        30.000000       3.903800      -1.834200       0.911198
max        92.000000       9.155000       9.341600       5.324700

                   3              4              5              6  \
count  263256.000000  263256.000000  263256.000000  263256.000000
mean       -1.146497      -0.688541      -0.617507      -0.281008
std         1.295992       1.071546       0.872268       0.729381
min        -5.600300      -5.493700      -4.140700      -3.359400
25%        -2.162800      -1.403600      -1.231700      -0.783250
50%        -1.134700      -0.679640      -0.588800      -0.281685
75%        -0.105610       0.054391       0.016132       0.232532
max         4.501400       3.662700       3.285500       2.864600

                   7              8              9             10  \
count  263256.000000  263256.000000  263256.000000  263256.000000
mean       -0.431595      -0.141176      -0.398858      -0.269781
std         0.835536       0.649690       0.636289       0.629079
min        -3.473100      -3.353200      -2.723600      -2.633000
25%        -0.990733      -0.571503      -0.852712      -0.700050
50%        -0.388910      -0.093730      -0.394355      -0.292490
75%         0.172932       0.326625       0.076632       0.144352
max         2.996500       2.514700       2.076800       3.077400

                  11             12
count  263256.000000  263256.000000
mean       -0.166669      -0.144303
std         0.591821       0.539460
min        -2.565400      -2.382800
25%        -0.564740      -0.511920
50%        -0.156070      -0.150575
75%         0.237935       0.208890
max         2.748700       2.971000
Test data statistics:                block     utterance       speaker         digit   time_window  \
count  87063.000000  87063.000000  87063.000000  87063.000000  87063.000000
mean    1124.488336      5.516672    112.897166      4.610661     20.103798
std      622.564958      2.868308     62.257566      2.817310     12.807533
min        1.000000      1.000000      1.000000      0.000000      0.000000
25%      598.000000      3.000000     60.000000      2.000000      9.000000
50%     1116.000000      6.000000    112.000000      5.000000     19.000000
75%     1674.000000      8.000000    168.000000      7.000000     30.000000
max     2200.000000     10.000000    220.000000      9.000000     82.000000

                  0             1             2             3             4  \
count  87063.000000  87063.000000  87063.000000  87063.000000  87063.000000
mean       2.193542     -3.225723     -0.449626     -1.255997     -0.764721
std        2.777369      1.796632      1.660701      1.309734      1.062606
min       -7.468300    -11.656000     -6.202100     -5.720300     -4.861000
25%        0.669235     -3.929050     -1.714750     -2.288200     -1.538300
50%        2.531300     -2.917600     -0.199430     -1.214600     -0.801950
75%        4.177150     -2.152950      0.823090     -0.186940     -0.024327
max        7.832400      2.556200      4.898900      4.101800      3.362400

                  5             6             7             8             9  \
count  87063.000000  87063.000000  87063.000000  87063.000000  87063.000000
mean      -0.677730     -0.334564     -0.520235     -0.136177     -0.449426
std        0.909218      0.728840      0.829043      0.660958      0.615882
min       -4.162300     -3.216500     -3.477900     -3.124100     -2.745300
25%       -1.322950     -0.832090     -1.093900     -0.565305     -0.899165
50%       -0.649830     -0.343370     -0.499630     -0.087860     -0.485740
75%       -0.017980      0.171215      0.104580      0.335260      0.013227
max        3.114900      2.846900      2.810200      2.306100      1.912400

                 10            11            12
count  87063.000000  87063.000000  87063.000000
mean      -0.339012     -0.256647     -0.149128
std        0.649472      0.594533      0.517796
min       -3.161400     -3.183500     -2.375000
25%       -0.789380     -0.669280     -0.500635
50%       -0.370080     -0.240560     -0.148510
75%        0.093666      0.163140      0.202230
max        2.993900      2.135500      2.651800
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263256 entries, 0 to 263255
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   block        263256 non-null  int64
 1   utterance    263256 non-null  int64
 2   speaker      263256 non-null  int64
 3   gender       263256 non-null  object
 4   digit        263256 non-null  int64
 5   time_window  263256 non-null  int64
 6   0            263256 non-null  float64
 7   1            263256 non-null  float64
 8   2            263256 non-null  float64
 9   3            263256 non-null  float64
 10  4            263256 non-null  float64
 11  5            263256 non-null  float64
 12  6            263256 non-null  float64
 13  7            263256 non-null  float64
 14  8            263256 non-null  float64
 15  9            263256 non-null  float64
 16  10           263256 non-null  float64
 17  11           263256 non-null  float64
 18  12           263256 non-null  float64
dtypes: float64(13), int64(5), object(1)
memory usage: 38.2+ MB
Train data info:  None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87063 entries, 0 to 87062
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   block        87063 non-null  int64
 1   utterance    87063 non-null  int64
 2   speaker      87063 non-null  int64
 3   gender       87063 non-null  object
 4   digit        87063 non-null  int64
 5   time_window  87063 non-null  int64
 6   0            87063 non-null  float64
 7   1            87063 non-null  float64
 8   2            87063 non-null  float64
 9   3            87063 non-null  float64
 10  4            87063 non-null  float64
 11  5            87063 non-null  float64
 12  6            87063 non-null  float64
 13  7            87063 non-null  float64
 14  8            87063 non-null  float64
 15  9            87063 non-null  float64
 16  10           87063 non-null  float64
 17  11           87063 non-null  float64
 18  12           87063 non-null  float64
dtypes: float64(13), int64(5), object(1)
memory usage: 12.6+ MB
Test data info:  None

In [9]:
trainDF.to_csv('../data/train.csv', index=False)
testDF.to_csv('../data/test.csv', index=False)
print("Data saved to CSV files.")

Data saved to CSV files.

### Data aggregation
This dataset have the MFCC features of the audio files. To get the full understanding of the audio files, we need to aggregate the MFCC features that are part of a same audio file (same speaker, same utterance, same digit).

In [10]:
# Group by 'utterance', 'speaker', and 'digit', and sort by 'time_window' to preserve the time series
trainDF_grouped = trainDF.sort_values(by='time_window').groupby(['utterance', 'speaker', 'digit', 'gender'])

# Apply the transformation for each group to get a list of coefficients
trainDF_grouped_df = trainDF_grouped.apply(lambda x: x[[str(i) for i in ALL_COEFFS]].values.tolist()).reset_index(name='coefficients')

# The resulting DataFrame will have 'utterance', 'speaker', 'digit' and the list of coefficients as 'coefficients'
trainDF_grouped_df.head()

/var/folders/r5/m5977dy13hd_9klxgsmylm740000gn/T/ipykernel_30660/2134307797.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  trainDF_grouped_df = trainDF_grouped.apply(lambda x: x[[str(i) for i in ALL_COEFFS]].values.tolist()).reset_index(name='coefficients')

,utterance,speaker,digit,gender,coefficients
0,1,1,0,m,"[[-0.81101, -7.2382, 1.5429, -0.64774, 1.4271,..."
1,1,1,1,m,"[[0.088296, -1.3841, 1.5712, 0.015122, -0.7615..."
2,1,1,2,m,"[[2.4273, -3.0185, 1.977, 1.5598, -2.4448, -1...."
3,1,1,3,m,"[[1.3635, -5.9484, 0.22766, -0.31943, -0.16718..."
4,1,1,4,m,"[[0.48353, -0.96949, -0.030561, -2.4044, 0.583..."

In [11]:
grouped = testDF.sort_values(by='time_window').groupby(['utterance', 'speaker', 'digit', 'gender'])
testDF_grouped_df = grouped.apply(lambda x: x[[str(i) for i in ALL_COEFFS]].values.tolist()).reset_index(name='coefficients')
testDF_grouped_df.head()

/var/folders/r5/m5977dy13hd_9klxgsmylm740000gn/T/ipykernel_30660/3294539030.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  testDF_grouped_df = grouped.apply(lambda x: x[[str(i) for i in ALL_COEFFS]].values.tolist()).reset_index(name='coefficients')

,utterance,speaker,digit,gender,coefficients
0,1,1,0,m,"[[1.2572, -8.2449, 0.8483, -1.5782, 0.4736, -0..."
1,1,2,0,m,"[[-0.62166, -6.809, 1.1914, -0.24391, 0.71214,..."
2,1,3,0,m,"[[-1.5878, -5.7215, 2.5979, -0.40329, 1.8357, ..."
3,1,4,0,m,"[[-2.3541, -4.4249, 2.3098, 0.32279, 0.52037, ..."
4,1,5,0,m,"[[-0.57648, -6.4786, 1.5552, -0.84299, 0.61214..."

In [14]:
print(f"Train data shape: {trainDF_grouped_df.shape}")
print(f"Test data shape: {testDF_grouped_df.shape}")

Train data shape: (6600, 5)
Test data shape: (2200, 5)

Therefore, we have 8800 recordings as described in the dataset description.

In [15]:
print("Saving aggregated data to CSV files...")
trainDF_grouped_df.to_csv('../data/train_grouped.csv', index=False)
testDF_grouped_df.to_csv('../data/test_grouped.csv', index=False)
print("Data saved to CSV files.")

Saving aggregated data to CSV files...
Data saved to CSV files.